html{
    background-color:black;
}
#div-1{
    margin-left: 25%;
    margin-top: 100px;
    color:white;
    width:50%;
    text-align: center;
}
h1{
    font-family:Libre Baskerville;
    text-transform: uppercase;
    

}
img{
    border:5px solid white;
    width: 100%;
}
